@base-color: hsl(201, 0%, 52%, 1);
@dark-highlight: hsl(201, 0%, 21%, 1);
@light-highlight: hsl(0, 0%, 90%, 1);
@selected-outline: hsl(50, 100%, 70%, 1);
@hover-highlight: hsl(0, 0%, 100%, 1);
@light-overlay: hsl(0, 0%, 100%, 1);
@suit-selector-outline: hsl(207, 100%, 70%, 1);
@offsuit-color: hsl(201, 100%, 90%, 1);
@paired-color: hsl(306, 100%, 90%, 1);

@padding: 15px;
@border-radius: 2px;

@font-size-small: 12px;
@font-size-medium: 16px;
@font-size-large: 28px;

@font-color-default: hsl(0, 0%, 0%, 1);
@font-color-disabled: hsl(201, 0, 60%, 1);

body {
    background: @base-color;
    font-family: "Helvetica", sans-serif;
}

.app-content {
    position: relative;
    top: @padding;
    left: 50%;
    transform: translateX(-50%);
    max-width: 530px;
}

.button {
    width: @padding*4;
    margin-right: @row-padding;
    display: inline-block;
    background-color: @dark-highlight;
    border-radius: @border-radius;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
	background-color: @hover-highlight;
    }
    &.showing {
	background-color: @light-highlight;
	&:hover {
	    background-color: @hover-highlight;
	}
    }
}
