card-selector {
    .add-card {
	cursor: pointer;
	margin: 5px;
        display: inline-block;
        background-color: @dark-highlight;
        border-radius: @border-radius;
        width: @padding;
        height: @padding;
        text-align: center;
        line-height: @padding;
        color: @hover-highlight;

	&:hover {
            background-color: @hover-highlight;
            color: black;
	}
    }

    .values > * {
	display: inline;
	cursor: pointer;
	margin: 5px;

	&:hover {
	    color: white;
	}
	&.selected {
	    color: blue;
	}
    }

    .values {
	visibility: hidden;
    }
    .values.selected {
	visibility: visible;
    }

    .suits > * {
	display: inline;
	cursor: pointer;
	margin: 5px;

	&:hover {
	    color: white;
	}
    }

    .suits {
	visibility: hidden;
    }
    .suits.selected {
	visibility: visible;
    }

    .selected-cards {
        display: inline;
    }

    .selected-cards > * {
        display: inline;
        margin: 5px;
    }
}