card-selector {
    .add-card, .clear-cards {
	cursor: pointer;
	margin: 5px;
        display: inline-block;
        background-color: @dark-highlight;
        border-radius: @border-radius;
        width: @padding;
        height: @padding;
        text-align: center;
        line-height: @padding;
        color: @hover-highlight;

	&:hover {
            background-color: @hover-highlight;
            color: black;
	}
    }

    .values > * {
	display: inline;
	cursor: pointer;
	margin: 5px;

	&:hover {
	    color: white;
	}
	&.selected {
	    color: blue;
	}
    }

    .values {
	visibility: hidden;
    }
    .values.selected {
	visibility: visible;
    }

    .suits > * {
	display: inline;
	cursor: pointer;
	margin: 5px;

	&:hover {
	    color: white;
	}
    }

    .suits {
	visibility: hidden;
    }
    .suits.selected {
	visibility: visible;
    }

    .selected-cards {
        display: inline;
    }

    .selected-cards > * {
        display: inline;
        margin: 5px;
        cursor: pointer;

        .delete-card {
            display: none;
            width: 8px;
            height: 16px;
            vertical-align: top;
            font-size: 11px;
            color: red;

            &:hover {
                border: 1px solid red;
                border-radius: 4px;
            }
        }

        &:hover {
            color: @hover-highlight;
            .delete-card {
                display: inline-block;
            }
        }
    }
}