range {
    background-color: pink;
    display: block;
    margin: 15px;

    .row {
        padding: 5px;
    }

    .column {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        background-color: aqua;
        display: inline-block;

        &:hover {
            outline: 2px solid blue;
        }

        &:active {
            outline: 2px solid darkgreen;
        }

        &.selected {
            outline: 2px solid green;

            &:hover {
                outline: 2px solid blue;
            }

            &:active {
                outline: 2px solid darkgreen;
            }
        }

        &.disabled {
            background-color: grey;
            pointer-events: none;
        }
    }
}
