situation-display {
    .board > *, .hand > * {
        display: inline-block;
        margin: 5px;
        pointer-events: none;
    }

    .pot {
        &::before {
            content: '$';
        }
    }

    .bet {
        margin: 5px;

        input {
            text-align: right;
            width: 180px;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }

    .amount, .action {
        margin-left: 5px;
    }
}

.section {
    margin-bottom: 10px;
}

.label {
    display: inline-block;
    font-weight: bold;
}

.item {
    display: inline-block;
    position: absolute;
    left: 85px;
}

.header {
    padding-bottom: 30px;
    margin-bottom: 15px;
    position: relative;

    &::after {
        content: "\00A0";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        border-bottom: 1px solid @dark-highlight;
        width: 100%;
    }
}
