<range class="base main"></range>
<div class="item-selector-section">
  <div class="button">offsuit</div>
  <div class="button">suited</div>
  <div class="button">paired</div>
</div>
<div class="offsuit section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
<div class="suited section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
<div class="paired section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
