<range class="base main"></range>
<div class="item-selector-section">
  <div class="item-selector">Offsuit</div>
  <div class="item-selector">Suited</div>
  <div class="item-selector">Pairs</div>
</div>
<div class="offsuit section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
