<range class="base main"></range>
<div class="item-selector-section">
  <div class="item-selector">offsuit</div>
  <div class="item-selector">suited</div>
  <div class="item-selector">pairs</div>
</div>
<div class="offsuit section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
<div class="suited section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
<div class="pairs section sub-selection">
  <range class="base"></range>
  <range class="suit-selection"></range>
</div>
