<div class="section">
  <div class="label">Type</div>
  <div class="item type"></div>
</div>
<div class="section">
  <div class="label">Board</div>
  <div class="board"></div>
</div>
<div class="section">
  <div class="label">Hand</div>
  <div class="hand"></div>
</div>
<div class="section">
  <div class="label">Position</div>
  <div class="item position"></div>
</div>
<div class="section">
  <div class="label">Pot</div>
  <div class="item pot"></div>
</div>
