<div class="section">
  <div class="label">Type</div>
  <div class="item type"></div>
</div>
<div class="section">
  <div class="label">Board</div>
  <card-selector></card-selector>
</div>
<div class="section">
  <div class="label">Hand</div>
  <div class="hand"></div>
</div>
<div class="section">
  <div class="label">Position</div>
  <div class="item position"></div>
</div>
<div class="section">
  <div class="label">Pot</div>
  <div class="item pot"></div>
</div>
<div class="section">
  <div class="label">Bet</div>
  <div class="bet">
    <span>$ </span><input></input>
  </div>
  <div class="amount">
    <div class="button quarter">1/4 Pot</div>
    <div class="button half">1/2 Pot</div>
    <div class="button whole">Pot</div>
  </div>
</div>
<div class="section">
  <div class="label">Action</div>
  <div class="action">
    <div class="button folds">Fold</div>
    <div class="button checks">Check</div>
    <div class="button calls">Call</div>
    <div class="button bets">Bet</div>
    <div class="button raises">Raise</div>
  </div>
</div>
