<!DOCTYPE html>
<html>
  <% include views/range-analysis-header.ejs %>
  <body>
    <div class="app-content">
      <poker-range></poker-range>
      <card-selector></card-selector>
      <div class="output"></div>
    </div>
  </body>
</html>
