<!DOCTYPE html>
<html>
  <% include views/situation-drills-header.ejs %>
  <body>
    <div class="app-content">
      <div class="section">
        <div class="label">Situation</div>
        <drop-down-menu class="item situation"></drop-down-menu>
        <div class="button new-session">New Session</div>
      </div>
      <div class="section header">
        <div class="label">Completed</div>
        <div class="item hands-completed"></div>
        <div class="button download">Download</div>
      </div>
      <div class="section">
        <div class="label">Position</div>
        <drop-down-menu class="item position"></drop-down-menu>
        <div class="button lock-board">Lock Board</div>
      </div>
      <situation-display></situation-display>
    </div>
    <popup>
      <div class="contents">
        Discard all current hands and start a new session?
        <div class="buttons">
          <div class="button">Cancel</div>
          <div class="button ok">OK</div>
        </div>
      </div>
    </popup>
  </body>
</html>
