<!DOCTYPE html>
<html>
  <% include views/situation-drills-header.ejs %>
  <body>
    <div class="app-content">
      <div class="section header">
        <div class="label">Position</div>
        <drop-down-menu class="item"></drop-down-menu>
      </div>
      <situation-display></situation-display>
    </div>
  </body>
</html>
